/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Sail&display=swap');

$font-family-sans-serif: "Crimson Text";
$presentation-font-size-root: 46px;

$link-color: #440033;

/*-- scss:rules --*/
